body {
	background: #fff url(../bg.png) no-repeat center bottom fixed;
	background-size: cover;
}
.welcome-header {
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: -10px;
}
.welcome-header img {
	width: 150px;
	margin-bottom: 40px;
}
.welcome-message {
	margin-top: 20px;
}
.h-l {
	min-height: 370px;
	padding: 10px 20px 10px;
	overflow: hidden;
}
.h-l h3 {
	margin-bottom: 10px;
}
.h-m {
	height: 110px;
	padding-top: 23px;
}
.card-pf img {
	width: 22px;
	margin-right: 10px;
	vertical-align: bottom;
}
img.doc-img {
	width: auto;
	height: 22px;
}
.link {
	font-size: 16px;
	vertical-align: baseline;
	margin-left: 5px;
}
h3 {
	font-weight: 550;
}
h3 a:link,
h3 a:visited {
	color: #333;
	font-weight: 550;
}
h3 a:hover,
h3 a:hover .link {
	text-decoration: none;
	color: #00659c;
}
.h-l h3 a img {
	height: 30px;
	width: auto;
}

.description {
	margin-top: 30px;
}

.card-pf {
	border-top: 1px solid rgba(3, 3, 3, 0.1);
	box-shadow: 0 1px 1px rgba(3, 3, 3, 0.275);
}

.welcome-form label,
.welcome-form input {
	display: block;
	width: 100%;
}

.welcome-form label {
	color: #828486;
	font-weight: normal;
	margin-top: 18px;
}
.welcome-form input {
	border: 0;
	border-bottom: solid 1px #cbcbcb;
}
.welcome-form input:focus {
	border-bottom: solid 1px #5e99c6;
	outline-width: 0;
}
.welcome-form button {
	margin-top: 10px;
}
.error {
  color: #c00;
	border-color: #c00;
	padding: 5px 10px;
}
.success {
	color: #3f9c35;
	border-color: #3f9c35;
	padding: 5px 10px;
}
.welcome-form + .welcome-primary-link,
.welcome-message + .welcome-primary-link {
	display: none;
}

.footer img {
	float: right;
	width: 150px;
	margin-top: 30px;
}

@media (max-width: 768px) {
	.welcome-header {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.welcome-header img {
		margin-bottom: 20px;
	}
	h3 {
		margin-top: 10px;
	}
	.h-l,
	.h-m {
		height: auto;
		min-height: auto;
		padding: 5px 10px;
	}
	.h-l img {
		display: inline;
		margin-bottom: auto;
	}
	.description {
		display: none;
	}
	.footer img {
		margin-top: 10px;
	}
}


/* Added by FunkycraM */
body {
    background-image: linear-gradient(to bottom, #337db9 0%, #002e54 100%);
    background-size: cover;
    font-size: 14px;
    padding: 0 20px;
}
a {
    color: #0081c3;
}
a:hover {
    color: #165373;
    text-decoration: underline;
}
#logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#logos a {
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	margin-top: 25px;
	margin-right: 25px;
	background-repeat: no-repeat;
    background-size: contain;
	height: 50px;
	border-radius: 5px;
}
a[href$="presdecheznous.fr"] {
    background-image: url("../img/logos/logo-pdcn.png");
    width: 151px;
}
a[href$="resiway.org/resipedia.fr"] {
    background-image: url("../img/logos/logo-resipedia.png");
    width: 112px;
}
a[href$="jardiniersdunous.org"] {
    background-image: url("../img/logos/logo-jdn.png");
    width: 101px;
}
a[href$="printemps-education.org"] {
    background-image: url("../img/logos/logo-printemps-education.png");
    width: 198px;
}
a[href$="lescommuns.org"] {
    background-image: url("../img/logos/logo-les-communs.png");
    width: 143px;
}
a[href$="virtual-assembly.org"] {
    background-image: url("../img/logos/logo-assemblee-virtuelle.png");
    width: 74px;
}
@media (max-width: 550px) {
    #logos a {
        margin-top: 10px;
        margin-right: 10px;
        height: 25px;
    }
    a[href$="presdecheznous.fr"] {
        background-image: url("../img/logos/logo-pdcn.png");
        width: 76px;
    }
    a[href$="resiway.org/resipedia.fr"] {
        background-image: url("../img/logos/logo-resipedia.png");
        width: 56px;
    }
    a[href$="jardiniersdunous.org"] {
        background-image: url("../img/logos/logo-jdn.png");
        width: 51px;
    }
    a[href$="printemps-education.org"] {
        background-image: url("../img/logos/logo-printemps-education.png");
        width: 99px;
    }
    a[href$="lescommuns.org"] {
        background-image: url("../img/logos/logo-les-communs.png");
        width: 72px;
    }
    a[href$="virtual-assembly.org"] {
        background-image: url("../img/logos/logo-assemblee-virtuelle.png");
        width: 37px;
    }
}
.card-pf{
  margin: 40px auto;
  padding: 5px 20px;
  max-width: 500px;
}
.card-pf h1{
	color:#4b4b4b;
	font-weight: 100;
	margin: 20px 0;
	text-align: center;
}
.card-pf a.btn {
	margin-top: 10px;
	margin-bottom: 10px;
}
/*tablet*/
@media (max-width: 840px) {
    .card-pf{
      max-width: none;
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px 20px 30px 20px;
    }
}
@media (max-width: 767px) {
    .card-pf{
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0;
    }
}
.btn {
	display: inline-block;
	cursor: pointer;
	background: linear-gradient(to bottom, #00a8e1 0%, #0085cf 100%);
	border: 1px solid #006e9c;
	color: #ffffff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	padding: 6px 10px;
	font-size: 14px;
	line-height: 1.3333333;
	border-radius: 1px;
}
.btn:hover {
	color: #ffffff;
	background: linear-gradient(to bottom, #026789 0%, #002a41 100%);
}
a[href$="infomaniak.com"] {
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    margin-top: 25px;
    margin-right: 25px;
    background-repeat: no-repeat;
    height: 52px;
    width: 132px;
    background-image: url("../img/logos/logo-infomaniak.png");
}